html {
    background-color: #336699;
}

body {
	width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #47a;
}

a {
	text-decoration: none;
	color: #47a;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    line-height: 1.5;
}


/*************************** Header Div *************************************/
#header {
	height: 72px;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

#header h1 {
    text-align: center;
    margin: 2px;
    font-sinze: 22pt;
    color: #224466;
}

#header h2 {
	margin: 2px;
    text-align: center;
    font-size: 12pt;
    color: #224466;
}


/************************* Navigation Div ***********************************/
#navigation {
	text-align: center;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    color: black;
    padding: 5px;
}

#navigation a {
    color: #258;
    font-weight: bolder;
}

#navigation ul {
    margin: 0px auto 0px auto;
    padding: 0px;
}

#navigation li {
        padding: 0px;
        margin-left: 10px;
        margin-right: 10px;
    display: inline;
}


/************************** Content Div *************************************/
#content {
    background-color: #f8f8f8;
    padding: 25px;
    font-family: Arial;
    font-size: 11pt;
    position: relative;
    min-height: 375px;
}

.post_meta {
    font-size: 10pt;
    font-weight: bold;
    color: #357;
    margin-bottom: 20px;
}

a.author {
    color: #135;
}

article.post {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: dotted black 1px;
}


/************************** Footer Div **************************************/
#footer {
    background-color: #f8f8f8;
    margin-top: 5px;
    font-size: 9pt;
    text-align: center;
    padding: 5px;
}



pre {
    background-color: #eee;
    padding: 5px;
    border: solid #dedede 1px;
}


div.post {
    margin-bottom: 60px;
}

/************************** Paginator ***************************************/
div#paginator {
    text-align: center;
}

#paginator a {
    text-decoration: none;
}

.outer, .inner, .current {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
}

.outer, .inner {
    color: 47a;
}

.current {
    color: black;
    font-weight: bolder;
}